Package: zautempo
Priority: optional
Section: qpe/applications
Maintainer: Hideki Saito <hideki@allcity.net>
Architecture: arm
Version: 1.0
Depends: qpe-base ($QPE_VERSION)
License: GPL
Description: ZauTempo tempo measuring/vizualization tool.
